    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
}

.logo{
    max-width: 25px;
    display: inline-block;
}

h1{
    
    
    color: rgb(27, 26, 26);
    font-size: 40px;
}
   

.Shades{
    margin-left: 0;
    color: rgb(43, 40, 40);
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    display: inline-block;
}

.area{
    display: block;
    max-width: 805px;
    max-height: 594px;
    font-size: 25px;
}

