@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

*{
    
    margin-left: 20px;
    margin-top: 10px;
}

.logo{
    max-width: 25px;
    display: inline-block;
}

h1{
    
    
    color: rgb(27, 26, 26);
    font-size: 40px;
}
   

.Shades{
    margin-left: 0;
    color: rgb(43, 40, 40);
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    display: inline-block;
}

.area{
    display: block;
    max-width: 1000px;
    max-height: 1000px;
}

p{
    margin: 0;
    font-family:'Roboto', sans-serif ;
    max-width: 450px;
}

.text1{
    font-size: 50px;
}

.text2{
    color: rgb(70, 69, 69);
    font-size: 15px;
}

.imagen{    
    margin: 0;
    float: right;
}

.textarea{
    font-family:'Roboto', sans-serif ;
    margin: 0;
    margin-top: 50px;
    float: left;
    width: 350px;
    height: 44px;
}

::placeholder{
    font-size: 15px;
    align-items: center;
}

.getStarted{
    width: 100px;
    margin: 0;
    margin-top: 50px;
    height: 50px;
}

.signButton{
    margin: 0;
}

.footer{
    margin: 0;
    margin-top: 150px;
    margin-left: 50px;
    text-align: center;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    color: rgb(20, 20, 20);
}










